@model UCP1_105.Models.Mahasiswa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mahasiswa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaMahasiswa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaMahasiswa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NimMahasiswa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NimMahasiswa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUnivNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUnivNavigation.IdUniv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMahasiswa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
