@model IEnumerable<UCP1_105.Models.Mahasiswa>

@{
    ViewData["Title"] = "Mahasiswa";
}

<h1>Mahasiswa</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaMahasiswa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NimMahasiswa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUnivNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaMahasiswa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NimMahasiswa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUnivNavigation.IdUniv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMahasiswa"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdMahasiswa"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdMahasiswa"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
