@model UCP1_105.Models.MataKuliah

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MataKuliah</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaMatkul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaMatkul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodeMatkul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodeMatkul)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMatkul">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
