@model UCP1_105.Models.Universitas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Universitas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaUniv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaUniv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFakultasNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFakultasNavigation.IdFakultas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProdiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProdiNavigation.IdProdi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUniv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
